body{
    font-family:Microsoft Yahei !important;
    background-color: rgb(229, 232, 235) !important;
}

::-webkit-scrollbar{width:4px;}
        ::-webkit-scrollbar-track{background-color:rgb(241,241,241);}
        ::-webkit-scrollbar-thumb{background-color:#0098d9;}
        ::-webkit-scrollbar-thumb:hover {background-color:rgb(169,169,169);}
        ::-webkit-scrollbar-thumb:active {background-color:rgb(141,141,141);}
        .gray{
            background-color: rgb(240,240,240);
        }
        .mar{
            padding-right: 0px;
            margin-top: 10px;
        }
        .cv{
            border: 1px solid #E5E8EB;
            width: 100% !important;
        }
        .cvu{
            border-right:1px solid #ccc;
            text-align: center;
            font-size: 14px;
            color: #474747;
            line-height: 35px;
            width: 22%; 
            float: left;
            background-color: #fff;
        }
        .unionO{
            border: 0;
            border:1px solid #ccc;
            width:24%; 
            float: right;
            height: 35px;
        }
        #run_box{
            padding: 10px;
            width: 300px; 
            margin:0 auto;
            overflow: hidden;
            position: fixed;
            background-color:rgba(106, 168, 185, 0.9) !important;
            border-radius: 4px !important;
            border: 1px #4693ad solid;
            height: 100%;
            top: 0px;
            box-shadow:2px 6px 10px #747a83;
        }
       /*  #dbdView{
           border: 1px solid rgb(239,243,228);
       
       } */
        #run_table th {
            text-align: center;
            /*font-weight: normal;*/
            color:rgb(51,122,183); 
        }
        #run_table td {
            text-align: center;
        }
        #run,#jd,#downLoad{
            padding-left:1px 2px;
            float: right;
        }
        #top{
            
            line-height: 42px;
            text-align:center;
            font-size: 18px;
            color: rgb(51,122,183);
            font-weight: bold;
        }
        #downLoad{
            background-color: #146880;
            font-size: 14px;
            color: #f0f0f0;
        }
        #run{
            background-color: #1b9b63;
            font-size: 14px;
            color: #f0f0f0;
        }
        #jd{
            background-color: #5f5e71;
            font-size: 14px;
            color: #f0f0f0;
        }
        .form-control{
            width:54% !important;
            background-color: rgba(255,255, 255, 1) !important;
        }