
html, body {
  color:white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background:#021840 url('../images/newLogin/fea_portal_bg.jpg') no-repeat center center;
  background-size:cover;
  font-family: Microsoft YaHei,sans-serif;
  color:rgba(255,255,255,.6);
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
input,button,select,textarea{outline:none;}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.denglu {
  position: absolute;
  right: 30%;
  top: 28%;
  padding: 0 20px;
  width: 20%;
  text-align: center;
}
.dl-content{
  background: -webkit-linear-gradient(-45deg, #4ebfff ,  #0055a8); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(-45deg, #4ebfff,  #0055a8); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(-45deg, #4ebfff, #0055a8); /* Firefox 3.6 - 15 */
  background: linear-gradient(to 45deg, #4ebfff ,  #0055a8); /* 标准的语法 */

  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 4px;
  padding-left: 10%;
  padding-right: 10%;
  border:1px #7bdaea solid;
  box-shadow: 8px 11px 15px #000630;
}
 ::-webkit-input-placeholder {
  color:#999;
  font-size:12px;
  font-weight:normal;
}
:-moz-placeholder {/* Firefox 18- */
  color:#999;
  font-size:12px;
  font-weight:normal;
}
::-moz-placeholder{/* Firefox 19+ */
  color:#999;
  font-size:12px;
  font-weight:normal;
}
:-ms-input-placeholder {
  color:#999;
  font-size:12px;
  font-weight:normal;
}
.ipt{

  font-weight:bold;
  height:30px;
  font-family: Microsoft YaHei;
  color:#fff;
  padding-left:40px;
  margin-top:30px;
  line-height:20px;
  font-size:16px;
  border:0px;
  border:1px rgba(255,255,255,0.6) solid;
  background-color:transparent;
  outline:none;
  width:250px;
  border-radius: 3px;
  padding-left: 50px;
}
.dl-content input:focus{
  border:1px #fff solid;
  ;
  width:250px;
  background: rgba(0, 0, 0, 0.2);
  padding-left: 50px;
}
.tle{
  position:absolute;
  z-index:999;
  margin-top:36px;
  margin-left: 10px;
  color: #fff;
 }
 .bian{
    color:#fff;
/*     font-size:12px;
position: absolute;
z-index: 999;
margin-top:10px; */

 }
.dl-content button{
  font-family: Microsoft YaHei;
  font-size:20px;
  color:#fff;
  border:0px;
  margin-top:50px;
  margin-bottom:20px;
  width:290px;
  height:30px;
  box-shadow: 4px 5px 13px #000b4a;
  border-radius: 3px;
  background: -webkit-linear-gradient(-90deg, #00fff6, #2982e4,#004dd4,#005ce7); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(-90deg, #00fff6, #2982e4,#004dd4,#005ce7); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(-90deg, #00fff6, #2982e4,#004dd4,#005ce7); /* Firefox 3.6 - 15 */
  background: linear-gradient(to -90deg, #00fff6, #2982e4,#004dd4,#005ce7); /* 标准的语法 */
  text-shadow: 1px 2px 3px #00225d;
}
.dl-content button:hover{
  border:0px;
  background: -webkit-linear-gradient(-90deg, #00a7cc, #0d63c2,#004796,#004c8d) !important; /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(-90deg, #00a7cc, #0d63c2,#004796,#004c8d) !important; /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(-90deg, #00a7cc, #0d63c2,#004796,#004c8d) !important; /* Firefox 3.6 - 15 */
  background: linear-gradient(to -90deg, #00a7cc, #0d63c2,#004796,#004c8d) !important; /* 标准的语法 */
}
.logo-fea{
  font-size:18px;
  margin-top:40px;
  margin-bottom:0px;
}
.logo-fea p{
  line-height:50px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin:0px;
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 3px 4px #002a7e;
}
.logo-fea span{
  margin:auto;
  display:block;
  width:200px;
  height:3px;
  border-top:1px #fff solid;
  border-bottom:1px #fff solid;
}
.pb{
  font-weight:bold;
  font-size:26px;
}
.mh_yy_xz{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}
.yy_xz_tc{
  width:50%;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: rgba(2, 30, 63, 0.8);
  border: 2px solid #003d7a;

}
.yy_xz_title{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    background-color: #0e304e;
    border-bottom: 1px solid #253f74;
}
.yy_xz_main{

}
.yy_xz_main{
  width: 100%;
  overflow: auto;
  height: 300px !important;
  width: 99.4%;
  background-color: rgba(3, 7, 17, 0.8);
  margin: 0.2% auto;
  border: 1px solid #073354;
}
.yy_xz_bottoms{
  width: 100%;
  height: 40px;
}
.bottom_password{
  float: left;
  height: 30px;
  font-size: 12px; 
  margin-left: 15px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.yy_xz_bottoms button{
  float: right;
  margin-right: 5px;
  margin-left: 10px;
  height: 30px;
  background-image:linear-gradient(to bottom,rgba(0, 225, 208, 1) ,rgba(0, 151, 176, 1));
  outline: 0px;
  border: 0px;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  text-shadow: 2px 1px 3px #0e0f02;
  box-shadow: 1px 2px 3px #000408;
}
.yy_xz_bottoms button:hover{
  background-image:linear-gradient(to bottom,rgb(137, 0, 0) ,rgb(101, 0, 0)) !important;
}
.yy_xz_main div{
  cursor:pointer;
  width: auto;
  height: 32px;
  line-height: 32px;
  text-align: left;
  font-size: 16px;
  color: #01393c;
  padding: 0px 10px;
  background-image: linear-gradient(to bottom,rgba(0, 225, 208, 0.8) ,rgba(0, 151, 176, 0.8));
  margin-bottom: 3px;
  text-shadow: 1px 2px 0px #21b3e4;
}

.yy_xz_main .yy_xz_div{
  background-image:linear-gradient(to bottom,rgba(144, 0, 0, 1) ,rgb(93, 1, 1)) !important;
  -webkit-background-image:linear-gradient(to bottom,rgba(144, 0, 0, 1) ,rgb(93, 1, 1)) !important;
  text-shadow:2px 3px 1px #0e0f02 !important;
  color: #fff;
}

.password-edit-item{
  color: #ccc;
}
