
/*----------------------------全局样式---------------------*/
@font-face{
  font-family: myfirstfont;
  src:url('../../images/font/bgothl.ttf');
}
body {
	font-size: 12px;
	margin: 0px;
	position: relative;
	font-family: '微软雅黑', 'Helvetica Neue', Arial, sans-serif;
  	background: #fff;
}
button{
  outline:none;
}
#main{
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  top: 0px;
}

.bt-img{
  width: 100%;
  text-align:center;
}
.bt-img img{
  width:100%;
  margin:0 auto;
}
/*-----------------------------06.js---跑马灯----------------------*/
#box_run{
  color:white;
}
#run_title{
   color:#7d7d7d ;
   font-size:16px;
   text-align: center;
   line-height: 30px;
}
#colee p:nth-of-type(2n+2) {
    text-align: left;
    /* background-color:#23445C!important; */
}
 #colee p:nth-of-type(2n+1) {
    text-align: left;
   /*  background-color:#2D526C!important; */
}
#colee p span{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
   
    font-size:14px;
    display:inline-block;
    padding-left:15px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height:25px;
}

#colee p span a{
  color:#E8E715;
}

#colee{
    overflow:hidden;
    height:120px;
    width:100%;
}
#colee p{
    margin:0px;
}
.table-title{
  border-bottom:1px #350000 solid;
  width:410px;
  background-color:#170000;
  margin:0px;
  padding:0px;
}
.table-title p{
  padding-left:15px;
  text-align:left;
  line-height:30px;
  margin:0px;
  color:#dedb00;
  font-weight: bold;
  font-size:16px;
}
.table-title p span{
  display: inline-block;
  text-align:left;
}
.table-all{
  width:410px;
}
.sp-0{
  width:33%;
}
.sp-2{
  padding-left:25px;
}
.sp-title-0{
  width:33%;
}
#colee p:hover{

  color:#E8E715 !important;
}




/*------------------------------圆形导航---------------------------------*/

.nav_icon{
  z-index:999;
  position:absolute;
  top:30px;
  right:30px;
  animation:nav_move 1s ease 0s 1 normal running ;
}
@keyframes nav_move{

}
.navC{
  /* position: absolute;  */
  text-align: center;
  background-image: url(../../images/portal02/portal_3_nav_hover_bg_0_try.png);
  width: 142px;
  height: 190px;
}
.navC a{
  display:block;
  margin: auto;
  text-decoration: none;
  color: #def4f4;
  font-size: 16px;
  width: 80px;
}
.navCA{
  color: #ddbd2a;
}
.nav0{
  position: absolute;
  top:28px;
  left: 171px;
}
.a0{
  padding-top: 16px;
}
.nav1{
  position: absolute;
  top:64px;
  left: 255px;
  transform: rotate(45deg);
}
.a1{
  padding-top: 24px;
  padding-right: 36px;
  transform: rotate(-45deg);
}
.nav2{
  position: absolute;
  top:150px;
  left: 288px;
  transform: rotate(90deg);
}
.a2{
  padding-right: 60px;
  transform: rotate(-90deg);
}
.nav3{
  position: absolute;
  top:232px;
  left: 250px;
  transform: rotate(135deg);
}
.a3{
  padding-right: 36px;
  padding-bottom: 16px;
  transform: rotate(-135deg);
}
.nav4{
  position: absolute;
  top:266px;
  left: 168px;
  transform: rotate(180deg);
}
.a4{
  padding-bottom:20px;
  transform: rotate(180deg);
}
.nav5{
  position: absolute;
  top:230px;
  left: 85px;
  transform: rotate(-135deg);
}
.a5{
  padding-left: 36px;
  padding-bottom: 16px;
  transform: rotate(135deg);
}
.nav6{
  position: absolute;
  top:146px;
  left: 48px;
  transform: rotate(-90deg);
}
.a6{
  padding-left: 60px;
  transform: rotate(90deg);
}
.nav7{
  position: absolute;
  top:62px;
  left: 85px;
  transform: rotate(-45deg);
}
.a7{
  padding-top: 24px;
  padding-left: 36px;
  transform: rotate(45deg);
}
#big_box{
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
}
#box{
    position: relative;
    width: 480px;
    height: 480px;
    margin:auto;
    margin-top: 120px;
    background-image: url(../../images/portal02/portal_3_nav_bg-re1.png);
}
.logo{
  background-image:url(../../images/portal04/title4-light-bg-repeat.png);
  background-repeat:repeat-x;
  width:100%;
  overflow:hidden;
  position: relative;
}
.logo img{
  width:100%;
}
.secondList{
  width:239px;
  background-image: url(../../images/portal04/portal_4navD2.png);
  color: #f0f0f0;
  font-size:14px;
  text-align: center;
  line-height: 105px;
  display: none;
}
.secondListspan{
  display:block;transform:rotate(180deg);
}
.secondList a{
  text-decoration: none;
  color: #f0f0f0;
}
#southBox{
  position: absolute;
  top:480px;
  left: 122px;
}
#southwestBox{
  transform: rotate(45deg);
  position: absolute;
  top:400px;
  left: -82px;
}
#westBox{
  transform: rotate(90deg);
  position: absolute;
  top:192px;
  left: -170px;
}
#northwestBox{
  transform: rotate(135deg);
  position: absolute;
  top:-16px;
  left: -90px;
}
#northbox{
  transform: rotate(180deg);
  position: absolute;
  top:-100px;
  left: 120px;
}
#northeastBox{
  transform: rotate(-135deg);
  position: absolute;
  top:-16px;
  left: 328px;
}
#eastBox{
  transform: rotate(-90deg);
  position: absolute;
  top:192px;
  left: 410px;
}
#southeastBox{
  transform: rotate(-45deg);
  position: absolute;
  top:400px;
  left: 328px;
}


/*--------------------------页面顶部·导航·用户·logo--------------------*/

.common-header {
	/*background-color: #061931;*/
	/*background-image: url(../../images/header-background.png);*/
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 73px;
}
.common-header .warp {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0px auto;
}
.common-header .warp .logodiv {
	float: left;
	margin-top: 15px;
	margin-left: 68px;
}
.common-header .warp .right-tip{
	text-align: right;
	float: right;
	color: #fff;
	position: relative;
	font-size: 12px;
	line-height: 12px;
	margin: 10px 0 0 0;
}
.common-header .warp .right-tip .header-tools .fn-cont {
  top: 26px;
  right: 0;
  color: #666;
  display: none;
  background: #FFF;
  line-height: 30px;
  position: absolute;
  border: solid 1px #CCC;
  border-radius: 2px 0 2px 2px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.common-header .warp .right-tip .fn-cont .fn-opt {
  cursor: pointer;
  padding: 0 1em;
  border-bottom: solid 1px #CCC;
}
.common-header .warp .right-tip .fn-cont .fn-opt:hover {
  color: #690;
}
.common-header .warp .right-tip .fn-cont .fn-opt::last-child {
  border-bottom: 0;
}
.common-header .warp .right-tip .fn-icon.user .fn-cont .corner {
	 background: #ffffff url(../../images/icon.png) no-repeat 8px -208px;
}
.common-header .warp .right-tip .fn-icon.user .fn-cont p {
  white-space: nowrap;
  margin: 0;
}
.common-header .warp .right-tip .fn-icon.user .fn-cont p a{
	text-decoration:none;
	color:#666;
}
.common-header .warp .right-tip .fn-cont .corner {
  top: -27px;
  right: -1px;
  text-align: left;
  width: 100%;
  height: 26px;
  border: solid 1px #CCC;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  position: absolute;
  background: #ffffff url(../../images/icon.png) no-repeat 9px -260px;
}
.common-header .warp .right-tip .fn-cont .corner .user-name {
  opacity: 0;
  filter: alpha(opacity=0);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-indent: 26px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-heade .warpr .right-tip .header-tools{
	margin-top: 9px;
	display: block;
}
.common-header .warp .right-tip .header-tools .fn-icon.user{
	background-position: 9px -182px;
}
.common-header .warp .right-tip .header-tools .fn-icon{
	display: inline-block;
    width: 30px;
    height: 26px;
    position: relative;
    vertical-align: middle;
	background: url(../../images/icon.png) 30px 26px no-repeat;
}
.common-header .warp .right-tip span.interval{
	color: #4f5a68;
    margin: 0;
}
.common-header .warp .right-tip .header-tools .fn-icon.message{
	background-position: 9px -234px;
}
.common-header .warp .right-tip .header-tools .fn-icon{
	display: inline-block;
    width: 30px;
    height: 26px;
    position: relative;
    vertical-align: middle;
	background: url(../../images/icon.png) 30px 26px no-repeat;
}
.common-header > .wrap > .right-tip .fn-cont a {
  color: #5691d3;
}


/* 18.js插件，文本插件ul li下img标签插入的图片 */
#txt_info ul li img{
  background:#e5e8eb url('../../images/test3and4_IM_icon_gray.png') center center no-repeat;
  width:8px;
  height:8px;
  border:0;
  margin:1px;
}
/*一级导航*/
.common-nav {
    height: 40px;
    border-bottom: 2px solid #82BD3E;
    background: #092342 none repeat scroll 0% 0%;
}
.common-nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.common-nav .level1 li {
	float: left;
	line-height: 40px;
	padding: 0px 20px;
}
.common-nav .level1{
	color: #FFF;
	font-size: 14px;
	min-width: 1024px;
	max-width: 1280px;
	margin: 0px auto;
}
.common-nav .level1 > li.active {
    background: #82BD3E none repeat scroll 0% 0%;
}
.common-nav .level1 > li.hover {
  background-color: rgba(71, 90, 113, 0.25);
}
.common-nav .level1 li a {
	height: 100%;
	width: 100%;
	display: block;
	color: #FFF;
	text-decoration:none;
}
/*二级导航*/
#nav ul {
	background-image:url(../../images/bg-heard.png);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
#nav li {
    position: relative;
}
#nav li a {
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
#nav li:hover{
    background: none repeat scroll 0 0  #82BD3E;
    outline: 0 none;
}
#nav li:hover ul.subs {
	margin-top: 0px;
    left: 0;
    top: 40px;
    width: 140px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
#nav ul li {
    background: none;
    width: 100%;
}
#nav ul li a {
	text-align:center;
	color:#333333;

    margin-left: -20px;
}
#nav ul li:hover{
 	background-image:url("../../images/bg-heard-hover.png");

}
#nav ul li:active{
 	background-image:none;
	color: white;
}

/*dbd中每一个图的外边框*/

/* .plot_border{
	display:inline-block;
	text-align:center;
	border-image:url('../../images/portal05/border_image.png');
	border-image-slice:20 20 20 20 ;
	border-image-width:20px;
} */
/*.no_border{
  display:inline-block;
  text-align:center;
}*/


/*-------------------------07.js---排名表;25.js---分页表格--------------------*/
.dataTables_scrollHeadInner table thead tr th{
  padding:0px;
  line-height:25px;
  height:50px;

}
.dataTables_scrollHeadInner table thead tr{
  border-bottom:1px #D6D6D6 solid;
}
.rank_title,.page_title{
  	font-size: 16px;color: #666;line-height: 32px;text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+2){
  	background-color: #e6f8fe;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
  	background-color:white;
}
.table > tbody > tr > td, .table > thead > tr > th {
  	border-top: 0px solid rgba(0,0,0,0) !important;
  	text-align: left;
  	color: #666;
  	font-weight: normal;
  	/* line-height: 39px; */
  	font-size: 14px;
}
.table > thead > tr > th{
	background-color:#f1f4f7;
  	border-bottom:solid rgb(8,64,76) 0px !important;
    padding-right: 8px;
}
table.dataTable{
 	margin-top: 0px !important;
  	margin-bottom: 0px;
}
.col-sm-12{
  	padding:0;
}

/*----------------------------08.js---信息块--------------------------*/

.info{
	font-family:Microsoft Yahei;
	border-image:url('../../images/portal1_info_borderimg.png');
	border-image-slice:30 30 30 30;
	border-image-outset:4px;
	border-image-width:20px;
	border-image-repeat:round;
    color:white;
    display:inline-block;
    padding:5px;
    background-color:#95D6C4;
    margin-left: 12px;
}
.info p{
    padding-left:10px;
    float:left;
    width:70px;
    font-size:16px;
}
.info span{
    padding-top:30px;
    padding-left:10px;
    padding:20px 10px 0px 10px;
    font-size:24px;
    height:30px;
    display:inline-block;
    margin-bottom:15px;
    float:left;
}
.info span a{
	text-decoration: none;
	color: #fff;
}

/*----------------------18.js-----文本信息----------------------*/

#txt_info{
  width: 300px;
  border:solid #666 1px;
  color: #666;
  font-size: 12px;
  font-family: Microsoft YaHei;
}
#txt_info ul{
  padding-left: 10px;
  padding-top: 10px;
}
/*----------------------28.js-----横向排名表--------------------*/
.trans_table{
  color:#fff;
  float:left;
}
.trans_title{
  font-size: 16px;color: #f0f0f0;text-align: center;
}
.list{
  /*background-color:#a5a5a5;*/
  text-align:center;
  margin-right:3px;
  width:30px;
  height:30px;
  line-height:30px;
  float:left;
  display:inline-block;
}
.top10 li {
  height:30px;

  margin-bottom:3px;
  list-style-type:none;
}
.top10-li>span{
  background: transparent !important;
}
.trans_list_bg{
  float:right;
  position:relative;
  width:300px;
  height:30px;
  /* background-color:#a5a5a5; */
  background:transparent;
}

.trans_list_txt{
  line-height:30px;
  height:30px;
  margin:0px;
  display:block;
  position:absolute;
  z-index:1;
  top:0px;
  left:0px;
  width:300px;
}
.country{
  padding-left:6px;
}
.num{
  float:right;
  padding-right: 6px;

  line-height: 30px;
}
.list_data_bg{
  background-color: transparent;
  /* background-color:#a5a5a5; */
  height:30px;
 /* 没有数据的底色和默认宽度 */
  position:absolute;
  left:0px;
}
/* 以下代码代表top10里前三的底色 */
.list1 ,.list2 ,.list3 , .data1 ,.data2 ,.data3{
  /* background-color:#c00000; */
  background-image: linear-gradient(left right,rgba(0, 149, 149, 0),rgb(0, 136, 172));
  background-image: -webkit-linear-gradient(left,rgba(0, 149, 149, 0),rgb(0, 136, 172));
  background-image: -moz-linear-gradient(left,rgba(0, 149, 149, 0),rgb(0, 136, 172));
  border-radius: 20px;
}
/* 以下代码为top10里前三的每个根据数据变化的量，瑶瑶你实现下 */
.data1{
  width:100%;
}
.data2{
  width:80%;
}
.data3{
  width:60%;

}

/* 以下代码代表top10里456行排名的底色 */
.list4,.list5 ,.list6,.data4 ,.data5 ,.data6{
/*   background-color:#ed7d31; */
  background-image: -webkit-linear-gradient(left, rgba(0, 151, 18,0), rgba(0, 151, 18,1));
  background-image: -o-linear-gradient(left, rgba(0, 151, 18,0), rgba(0, 151, 18,1));
  background-image: linear-gradient(to right, rgba(0, 151, 18,0), rgba(0, 151, 18,1));
  border-radius: 20px;
}
.data4{
  width:80%;
}
.data5{
  width:40%;
}
.data6{
  width:90%;
}

/* 以下代码代表top10里最后四行排名的底色 */

.list7,.list8 ,.list9,.list10,.data7 ,.data8 ,.data9,.data10{
  /* background-color:#ffc000; */
  background-image: -webkit-linear-gradient(left, rgba(255,192,0,0), rgba(255,192,0,1));
  background-image: -o-linear-gradient(left, rgba(255,192,0,0), rgba(255,192,0,1));
  background-image: linear-gradient(to right, rgba(255,192,0,0), rgba(255,192,0,1));
  border-radius: 20px;
}
.data7{
  width:80%;
}
.data8{
  width:60%;
}
.data9{
  width:40%;
}
.data10{
  width:60%;
}


/*--------------------------------------------------表格44--------------*/
.table44{
  border:0px !important;
  width: 100%
}
.thead44{
  color: #fff;
  background-color:#2dc6d4;
  border-bottom:solid #31ccda 1px !important;
}
.table44 tr td,.thead44 tr th{

}
.table44 tbody tr:nth-of-type(2n){
  background-color: #fff;
}
.table44 tbody tr:nth-of-type(2n+1){
  background-color: #ddd;

}
.table44 tbody tr:hover{
  background-color: rgba(38, 137, 175, 0.3);
}
.table44 tbody tr td,.thead44 tr th{
  font-size: 14px;
  color: #666;
  height: 30px;
  line-height: 30px;
  border:0px;
  padding-left: 4px;
  padding-right: 4px;
}
.thead44 tr th{
  color: #fff;
}
/* 以下代码代表top10里456行排名的底色 */
.list4,.list5 ,.list6,.data4 ,.data5 ,.data6{
	background-color:transparent;
}
.data4{
	width:80%;
}
.data5{
	width:40%;
}
.data6{
	width:90%;
}


/* 以下代码代表top10里最后四行排名的底色 */

.list7,.list8 ,.list9,.list10,.data7 ,.data8 ,.data9,.data10{
	background-color:transparent;
}
.data7{
	width:80%;
}
.data8{
	width:60%;
}
.data9{
	width:40%;
}
.data10{
	width:60%;
}

/*------------------am_run.fh5---交互面板运行-----------------------*/

.am_unclick{
    background-color: rgb(240,240,240);
}

.param_box{
  width:98%;
  float:left;
  margin-left:1%;
  margin-bottom:5px;
  color:#9CAEB5;
  background-color:transparent;
  border: 1px solid #b0b0b0;
  margin-top: 1%;
}
.param_txt{
    color:#292929;
    background-color:transparent;
    border-right:1px solid #657494;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    width: 20%;
    float: left;
}
.param_select{
    padding-left: 5px;
    color: #292929;
    outline:none;
    background: url("../../images/portal3/portal_03_arrow_icon.png") no-repeat scroll right center transparent;
    padding-right:14px;
    background-color:transparent;
    border: 0;
    border-left:1px solid #657494;
    width:24%;
    float: right;
    height: 35px;
    appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
.param_box select option{
    background:#e6e6e6;
    border:0px !important;
}

#run_box{
    position: fixed;
    top: 0px;
    height: 100%;
    width: 300px;
    margin:0 auto;
    background-color:rgba(242, 242, 242,0.8) !important;
    overflow:auto;
    box-shadow: 2px 6px 10px #8c8c8c;
}
#run_table th {
    text-align: center;
    color:rgb(51,122,183);
}
#run_table td {
    text-align: center;
}
#run,#jd,#downLoad{
    padding-left:1px 2px;
    float: right;
}
/* #top{
    line-height: 42px;
    text-align:center;
    font-size: 18px;
    color: rgb(51,122,183);
    font-weight: bold;
} */
#downLoad{
    background-color: #146880;
    font-size: 14px;
    color: #f0f0f0;
}
#run{
    background-color: #1b9b63;
    font-size: 14px;
    color: #f0f0f0;
}
#jd{
    background-color: #5f5e71;
    font-size: 14px;
    color: #f0f0f0;
}
.param_box input{

    border:1px #657494 solid;
    background-color:transparent;
    width:56% !important;
}











/*-----------------29.css --- 人物画像-------------*/
#rwhx{

  font-family:Microsoft Yahei;
  position: relative;
}
.title1{
  padding-bottom:50px;
  text-align:center;
  font-size:24px;
  display:block;
  margin:0 auto;
  color:#374052;
}
.useiconjz img{
  display:block;
  position:absolute;

}
.useiconjz-div{
  position:relative;
}
.usezl{
  margin:0 auto;
  width:376px;
  height:auto;
  border-image:url('../../fea/img/rwhx/userborder.png');
  border-image-slice:20 ;
  border-image-outset:15px;
  border-image-width:14px;
  border-image-repeat:stretch;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/userborder.png');
  border-image-slice:20 ;
  border-image-outset:15px;
  border-image-width:14px;
  border-image-repeat:stretch;

}
.usetljz{
  width:106px;
  height:1px;
  position:relative;
  margin:0 auto;
}
.usetl{
  border-left:2px #34aad2 solid;
  border-right:2px #34aad2 solid;
  font-weight:bolder;
  font-size:18px;
  padding-right:6px;
  padding-left:6px;
  top:-26px;
  background-color:#f1f4f7;
  position:absolute;
  display:block;
  text-align:center;
}
.usezl tr td:first-child{
  font-weight:bolder;
  display:block;
  width:80px;
}
/*.dt_ct{
  width:414px;
  height:489px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
  margin-top:60px;

}*/
.dt_ct{
  width:414px;
  height:489px;
  position:relative;
  left:50%;
  margin-left:-207px;
  margin-top:60px;
  text-align:center;
}
/*.useiconjz{
  margin-top:30px;
}*/
.dt_sp_l{
  color:#fff;
  padding-left:50px;
  height:40px;
  line-height:40px;
  text-align:left;
  float:left;
}
.dt_sp_r{
  font-weight:bolder;
  font-size:20px;
  display:block;
  color:#fff;
  padding-right:4px;
  height:40px;
  line-height:40px;
  text-align:right;
  float:right;

}
.jdtl{
  width: 400px;
  font-weight:bolder;
  color:#5e616c;
  font-size:20px;
  padding-bottom:5px;
}

/* 以下内容是每个进度的样式和定位
 */
.dt_1_left{
  position:absolute;
  top:-21px;
  right:605px;
}
.dt_2_left{
  position:absolute;
  top:82px;
  right:748px;
}
.dt_3_left{
  position:absolute;
  top:192px;
  right:770px;
}
.dt_4_left{
  position:absolute;
  top:303px;
  right:748px;
}
.dt_5_left{
  position:absolute;
  top:406px;
  right:608px;
}
.dt_6_right{
  position:absolute;
  top:-21px;
  left:238px;
}
.dt_7_right{
  position:absolute;
  top:82px;
  left:384px;
}
.dt_8_right{
  position:absolute;
  top:192px;
  left:403px;
}
.dt_9_right{
  position:absolute;
  top:303px;
  left:382px;
}
.dt_10_right{
  position:absolute;
  top:405px;
  left:241px;
}
/* 进度条定位结束 */

.dt_left_txt{
  width:400px;
  margin:0px;
  position:absolute;
  display:block;
  line-height:40px;
  height:40px;
}
/* 每个进度加入的border-image包含兼容 */
 .dt_1_left_bg{
  border-radius:2px;
  position:relative;
  /*left: -367px;*/
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* // */

 }
  .dt_2_left_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
 .dt_3_left_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
 .dt_4_left_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
 .dt_5_left_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
  .dt_6_right_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
   .dt_7_right_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
   .dt_8_right_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
   .dt_9_right_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
   .dt_10_right_bg{
  border-radius:2px;
  position:relative;
  background-color:#4b5760;
  width:400px;
  height:40px;
  border:1px solid #f1f4f7;
  border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
  /* 兼容 */
  -moz-border-image:url('../../fea/img/rwhx/jdborder.png');
  border-image-slice:12 12 12 12 ;
  border-image-outset:5px;
  border-image-width:12px;
  border-image-repeat:round;
 }
/*  borderimage结束 */


/*  下一个是数据宽度和颜色 */
 .dt_1_left_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:80%;
  background-color:#c00000;
}
.dt_2_left_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:70%;
  background-color:#bf7413;
}
.dt_3_left_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:60%;
  background-color:#4c7203;
}
.dt_4_left_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:30%;
  background-color:#077d6e;
}
.dt_5_left_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:30%;
  background-color:#0c4877;
}
.dt_6_right_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:70%;
  background-color:#c00000;
}
.dt_7_right_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:90%;
  background-color:#bf7413;
}
.dt_8_right_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:70%;
  background-color:#4c7203;
}
.dt_9_right_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:10%;
  background-color:#077d6e;
}
.dt_10_right_data{
  border-radius:2px;
  position:absolute;
  height:40px;
  width:60%;
  background-color:#0c4877;
}
/* 以上是根据数据进度条宽度 */




/*
以下是动画效果 */
.dt_1_left{
  animation:myfirst 0.8s;
  -webkit-animation:dt_1 0.8s;
}

@-webkit-keyframes dt_1 /* Safari and Chrome */
{
  0%   { opacity:0; right:800px; top:-21px;}
  85%  { right:200px; top:-21px;}
  85%  { right:430px; top:-21px;}
  100% { right:605px; top:-21px;}
}
.dt_6_right{
  animation:dt_6 0.8s;
  -webkit-animation:dt_6 0.8s;
}

@-webkit-keyframes dt_6 /* Safari and Chrome */
{
  0%   {opacity:0; left:800px; top:-21px;}
  85%  { left:100px; top:-21px;}
  85%  { left:150px; top:-21px;}
  100% { left:238px; top:-21px;}
}
.dt_2_left{
  animation:dt_2 0.8s;
  -webkit-animation:dt_2 0.8s;
}

@-webkit-keyframes dt_2 /* Safari and Chrome */
{
  0%   { opacity:0; right:800px; top:82px;}
  85%  { right:200px; top:82px;}
  85%  { right:476px; top:82px;}
  100% { right:748px; top:82px;}
}
.dt_7_right{
  animation:dt_7 0.8s;
  -webkit-animation:dt_7 0.8s;
}

@-webkit-keyframes dt_7 /* Safari and Chrome */
{
  0%   { opacity:0; left:800px; top:82px;}
  85%  { left:100px; top:82px;}
  85%  { left:276px; top:82px;}
  100% { left:384px; top:82px;}
}
.dt_3_left{
  animation:dt_3 0.8s;
  -webkit-animation:dt_3 0.8s;
}

@-webkit-keyframes dt_3 /* Safari and Chrome */
{
  0%   { opacity:0; right:800px; top:192px;}
  85%  { right:200px; top:192px;}
  85%  { right:495px; top:192px;}
  100% { right:770px; top:192px;}
}
.dt_8_right{
  animation:dt_8 0.8s;
  -webkit-animation:dt_8 0.8s;
}

@-webkit-keyframes dt_8 /* Safari and Chrome */
{
  0%   { opacity:0; left:800px; top:192px;}
  85%  { left:100px; top:192px;}
  85%  { left:395px; top:192px;}
  100% { left:403px; top:192px;}
}
.dt_4_left{
  animation:dt_4 0.8s;
  -webkit-animation:dt_4 0.8s;
}

@-webkit-keyframes dt_4 /* Safari and Chrome */
{
  0%   { opacity:0; right:800px; top:303px;}
  85%  { right:200px; top:303px;}
  85%  { right:474px; top:303px;}
  100% { right:748px; top:303px;}
}
.dt_9_right{
  animation:dt_9 0.8s;
  -webkit-animation:dt_9 0.8s;
}

@-webkit-keyframes dt_9 /* Safari and Chrome */
{
  0%   { opacity:0; left:800px; top:303px;}
  85%  { left:100px; top:303px;}
  85%  { left:374px; top:303px;}
  100% { left:382px; top:303px;}
}
.dt_5_left{
  animation:dt_5 0.8s;
  -webkit-animation:dt_5 0.8s;
}

@-webkit-keyframes dt_5 /* Safari and Chrome */
{
  0%   { opacity:0; right:800px; top:405px;}
  85%  { right:100px; top:405px;}
  85%  { right:334px; top:405px;}
  100% { right:608px; top:405px;}
}
.dt_10_right{
  animation:dt_10 0.8s;
  -webkit-animation:dt_10 0.8s;
}

@-webkit-keyframes dt_10 /* Safari and Chrome */
{
  0%   { opacity:0; left:800px; top:405px;}
  85%  { left:100px; top:405px;}
  85%  { left:234px; top:405px;}
  100% { left:241px; top:405px;}
}





/* 鼠标悬停 */
/* .zzc{
  position:absolute;
  z-index:999;
  top:0px;
  left:0px;
  padding:0px;
  border:0px;
  margin:0px;
  width:100%;
  height:100%;
  background-color:rgba(55, 59, 65, 0.4);
} */
.xt1{
  /* display:none; */
  position:absolute;
  top:-20px;
  left:192px;
}
.xt1-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);


}
.ts1{
  position:absolute;
  top:36px;
  left:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts.png')no-repeat;
}

.xt6{
  display:none;
  position:absolute;
  top:-20px;
  right:192px;
}
.xt6-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts6{
  position:absolute;
  top:36px;
  right:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts-right.png')no-repeat;
}



.xt7{
  display:none;
  position:absolute;
  top:-3px;
  right:48px;
}
.xt7-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts7{
  position:absolute;
  top:123px;
  right:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts-right.png')no-repeat;
}


.xt2{
  display:none;
  position:absolute;
  top:-3px;
  left:48px;
}
.xt2-txt{
  color:#fff;
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts2{
  position:absolute;
  top:123px;
  left:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts.png')no-repeat;
}




.xt8{
  display:none;
  position:absolute;
  top:-3px;
  right:28px;
}
.xt8-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts8{
  position:absolute;
  top:232px;
  right:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts-right.png')no-repeat;
}

.xt3{
  display:none;
  position:absolute;
  top:-3px;
  left:28px;
}
.xt3-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts3{
  position:absolute;
  top:232px;
  left:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts.png')no-repeat;
}


.xt9{
  display:none;
  position:absolute;
  top:-1px;
  right:50px;
}
.xt9-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts9{
  position:absolute;
  top:340px;
  right:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts-right.png')no-repeat;
}



.xt4{
  display:none;
  position:absolute;
  top:-1px;
  left:50px;
}
.xt4-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts4{
  position:absolute;
  top:340px;
  left:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts.png')no-repeat;
}



.xt10{
  display:none;
  position:absolute;
  top:90px;
  right:192px;
}
.xt10-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts10{
  position:absolute;
  top:350px;
  right:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts-right.png')no-repeat;
}


.xt5{
  display:none;
  position:absolute;
  top:90px;
  left:192px;
}
.xt5-txt{
  position:relative;
  z-index:1000;
  width:550px;
  height:400px;
  border:1px #3A4852 solid;
  background:rgba(94, 116, 128, 0.8);
}
.ts5{
  position:absolute;
  top:350px;
  left:-14px;
  z-index:1111;
  width:16px;
  height:32px;
  display:block;
  background: url('../../fea/img/rwhx/ts.png')no-repeat;
}


.xt_tb{
  color:#fff;
  padding:10px;
  line-height:28px;
}
.xt_tb tr{
  display:block;
  width:100%;
}
.xt_tb tr td{


  display:inline-block;
  /* margin-bottom:20px; */
  margin-right:3px;
  height:28px;
  background-color:#414E56;
  border:1px #2F3C4A solid;
}
.xt_tb  tr td:first-child{
  display:block;
  float:left;
  width:31px;
  height:28px;
}
.xt_tb tr td:{
  border:1px #323E4C solid;
}
.xt_tb  tr td:last-child{
  text-align:left;
  padding-left:4px;
  padding-right:4px;
  width:476px;
  height:auto;
}

/*颜色条*/
.color0{
  width: 10%;
  background-color: #1fa832;
}
.color1{
  width: 10%;
  background-color: #1c84ce;
}
.color2{
  width: 10%;
  background-color: #d0a616;
}
.color3{
  width: 10%;
  background-color: #e66c1b;
}
.color4{
  width: 10%;
  background-color: #e13640;
}
.color6{
  width: 10%;
  background-color: #999;
}





/*------------------------信息块303-------------------------*/
.box303{
  width: 100%;
  font-size: 18px;
  font-family: "微软雅黑";
}
.box303-title{
  font-family: myfirstfont;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: left;
  color: #a8a8a8;
}
.box303-main{
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
  font-family: myfirstfont;
 
  font-size: 48px;
  color: #fff;
  padding-left: 20px;
}


/*------------------------信息块304-------------------------*/

.box304{
  width: 100%;
  font-size: 18px;
  font-family: "微软雅黑";
}
.box304-title{
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #487593;
}
.box304-main{
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
  color: #666;
}
.box304-content{
  float: left;
}
.box304-content>div{
  float: left;
  width: 30px;
  height: 50px;
  line-height: 50px;
  font-family: 'Impact';
  font-size: 36px;
  text-align: center;
  border: 2px solid #01D5C9;
  margin-left: 5px;
}
.box304-tiao{
  width: 30px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  font-size: 25px;
}


/*------------------------信息块305-------------------------*/
.box305{
  width: 100%;
  text-align: center;

  border-radius: 3px;
  box-shadow:2px #fff;
  border-bottom: 2px solid #00CBE9;
}
.box305-title{
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #666;
  font-size: 36px;

}
.box305-main{
  width: 100%;
}
.box305-content{
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #00CBE9;
}
.box305-left{
  width: 35%;
  height: 60px;
  float: left;
  font-size: 16px;
  color: #30AEC3;
  font-family: "微软雅黑";
  border-right: 2px solid #00CBE9;
  border-left: 2px solid #00CBE9;
}
.box305-right{
  width: 63%;
  height: 60px;
  float: right;
  font-size: 30px;
  color: #CA0202;
  font-family: "Impact";
  border-right: 2px solid #00CBE9;
}

/*------------------------小标题306-------------------------*/
.box306{
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  color: #0DB2C2;
  background-color: #18355F;
}

/*------------------------小标题307-------------------------*/
.box307{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 32px;
  color: #0DB2C2;
  /*background-color: #18355F;*/
  background: url('../../fea/img/bg/big_title_bg_rp.png');
}
.d318_1{
	background: #0bbaf4;
}
.d318_2{
	background: #f4cb0b;
}
.d318_3{
	background: #3751a7;
}
.d318_4{
	background: #22de0f;
}
.d318_5{
	background: #db0bf4;
}
.d318_6{
	background: #00f3fc;
}
.d318_7{
	background: #aa2c0f;
}
.d318_8{
	background: #0d8447;
}
.d318_9{
	background: #f19149;
}
.d318_0{
	background: #ff4e00;
}

.dh{
	position: absolute;
	overflow: hidden;
	transform:rotate(0deg);
}
.dh2{
	right: 0px;
	position: absolute;
	overflow: hidden;
	transform:rotate(0deg);
}
.dh img{
	width: 100%;
	position: absolute;

}
.move{
	background: url('../../images/logo/light2.png') repeat-x;
	animation:light_move 3s ease-in 2s infinite;
	height: 100%;
	width: 100%;
	background-size:100%;
}
@keyframes light_move{
	0%{
		transform:translateY(-100%) ;
	}
	100%{
		transform:translateY(300%) ;
	}
}
.move2{
	overflow: hidden;
	background: url('../../images/logo/light3.png') repeat-x;
	animation:light_move2 3s ease-in 2s infinite;
	height: 100%;
	width: 100%;
	background-size: 100%;
}
@keyframes light_move2{
	0%{
		transform:translateY(300%) ;
	}
	100%{
		transform:translateY(-300%) ;
	}
}
.move3{
  perspective: 2000;
  -moz-perspective: 2000px;
  transform-style: preserve-3d;
  transform: rotate3d(80,134,67,45deg);
  background: transparent url('../../images/54move_img/move3_bg.png') no-repeat;
  width: 100%;
  background-size: 100%;
}
.move3 img{
	width: 100%;
	animation:light_move3 12s linear 0s infinite;
}
@keyframes light_move3{
	0%{
		transform:rotate(0deg) ;
	}
	100%{
		transform:rotate(360deg) ;
	}
}
//--------------------------------------工具条样式


.draw54_gjt{
  background-color: #fff;
}
.draw54_gjt{
  position: absolute;
  background-color: #082850;
  color: #fff;
  border-radius: 30px;
  box-shadow: 2px 3px 6px #000a1b;
  background: -webkit-linear-gradient(top, #000e15 , #004166); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(top, #000e15, #004166); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(top, #000e15, #004166); /* Firefox 3.6 - 15 */
  background:linear-gradient(to top, #000e15 , #004166);/* 标准的语法 */
  text-shadow:3px 2px 2px #000415;
}
.draw54_gjt div{
  font-size: 16px;
  cursor: pointer;
  height: 100% !important;

}
.draw54_gjt div:hover{ /* Safari 5.1 - 6.0 */ /* Safari 5.1 - 6.0 */
  background: -webkit-linear-gradient(#00cab8, #044164);
  background: -o-linear-gradient(#00cab8, #044164);
  background: linear-gradient(#00cab8, #044164);
}
.draw54_change{
  background: -webkit-linear-gradient(#0c949b, #002850 ,#013639)  !important;
  background: -moz-linear-gradient(#0c949b, #002850 ,#013639)  !important;
  background: linear-gradient(#0c949b, #002850 ,#013639)  !important;
}
