.ipad_login{
	position: fixed;
	height: 100%;
	width: 100%;
	background-image:linear-gradient(-45deg,#21a1f1  ,#004093 );
	-webkit-background-image:linear-gradient(-45deg,#21a1f1  ,#004093 );
	-moz-background-image:linear-gradient(-45deg,#21a1f1  ,#004093 );
}
.login_b{
	background-color: rgba(255, 255, 255, 0.2);
	padding:10%;
}
.ipad_login_ctn{
	min-width: 40%;
	max-width: 20%;
	max-height: 50%;
	min-height: 30%;
	margin: 0 auto;
	margin-top: 30%;
}
.ipad_login_ctn p{
	text-align: center;
	color: #fff;
	font-size: 2rem;
	
}
.ipad_login_ctn span{
	position: relative;
	width: 100%;
	display: block;
	margin-bottom: 4%;
	overflow: hidden;
	border-radius: 4px;
}
.ipad_login_ctn  img{
	position: absolute;
	left: 0.3rem;
	top: 0.4rem;
}
.ipad_login_ctn span input{
	padding-left: 2rem;
	margin-right: -2rem;
	border-radius: 4px;
	height: 1.5rem;
	color: #003062;
	width: 100%;
	border:0px;
}
.ipad_login_ctn span input:focus{
	
	outline: none;	

}
.ipad_login_ctn button{
	display: block;
	width: 100%;
	outline: none;
	height: 1.5rem;
	border:0px;
	background-image:-webkit-linear-gradient(left, #0041a2, #003062); 
	background-image:linear-gradient(left,#0041a2,#003062);
	color: #fff;
	box-shadow: 3px 9px 16px 1px #272590;
}
